<div ng-controller="FormationEditCtrl" >
	<h3>Edit formation</h3>
	
	<div class="formation-list left">
		<h3>Squad</h3>
		<div class="inline" ng-repeat="sqplayer in squad">
			<img  class="thumb" ng-src="{{sqplayer.image}}" 
				title="{{sqplayer.firstName}} {{sqplayer.lastName}}" />
			{{sqplayer.firstName}} {{sqplayer.lastName}}
			<button ng-click="addPlayer(sqplayer)">Add</button>
		</div>
	</div>
	
	
	<div class="formation-list">
		<h3>Lineup</h3>
		<div class="inline" ng-repeat="player in lineup.players">
			<img  class="thumb" ng-src="{{player.prototype.image}}" 
				title="{{player.prototype.firstName}} {{player.prototype.lastName}}" />
			{{player.prototype.firstName}} {{player.prototype.lastName}}
			<button ng-click="removePlayer(player)">Remove</button>
		</div>
	</div>
</div>