<div class="admin-wrapper">
	<h1>Welcome to CoachStat Admin!</h1>
	<p>This section is only accessible by administrators of CoachStat to enable admin users to have control over the content uploaded by users. 
		This may be used to help users out if they are having issues such as creating clubs, players or their user details. Also admins can view all Contact Us requests sent by users.</p>
</div>
<br />
<br />
<div class="boxes">
	<div class="box">
		<div class="icon icon-profiles"></div>
		<div class="info">
			<a href="/users"><h2>Users</h2></a>
			<p>
				Manage User's of CoachStat and view / edit / delete their profiles.
			</p>
		</div>
	</div>
	<div class="box">
		<div class="icon icon-team"></div>
		<div class="info">
			<a href="clubs"><h2>Clubs</h2></a>
			<p>
				Manage the Clubs created by the users.
			</p>
		</div>
	</div>
	
	<div class="box right">
		<div class="icon icon-players"></div>
		<div class="info">
			<a href="/players"><h2>Players</h2></a>
			<p>
				Manage Players, add / remove them from Clubs.
			</p>
		</div>
	</div>
	<div class="box">
		<div class="icon icon-logs"></div>
		<div class="info">
			<a href="/logs"><h2>Logs</h2></a>
			<p>
				View the log files created by the website. Store the logs from the txt file in the database.
			</p>
		</div>
	</div>
	<div class="box">
		<div class="icon icon-fixtures"></div>
		<div class="info">
			<a href="/fixtures"><h2>Fixtures</h2></a>
			<p>
				Manage all the Fixtures and view the Lineups and game statistics associated with them.
			</p>
		</div>
	</div>
</div>

<div class="clear"></div>
