<div class="admin-wrapper">
	<h1>Welcome to CoachStat Admin!</h1>
	<p>This section is only accessible by administrators of CoachStat to enable admin users to have control over the content uploaded by users. 
		This may be used to help users out if they are having issues such as creating clubs, players or their user details. Also admins can view all Contact Us requests sent by users.</p>
</div>
<br />
<br />
<div class="boxes">
	<div class="box">
		<div class="icon icon-profiles"></div>
		<div class="info">
			<a href="/profiles"><h2>Profiles</h2></a>
			<p>
				Create players and add them in fixture to track their performance. 
				Use the formation builder to place them exactly where you want on the pitch.
			</p>
		</div>
	</div>
	<div class="box">
		<div class="icon icon-team"></div>
		<div class="info">
			<a href="clubs"><h2>Clubs</h2></a>
			<p>
				Create multiple clubs to manage your players and fixtures. You can even create oppsoition clubs if you would like to track your rivals.
			</p>
		</div>
	</div>
	
	<div class="box right">
		<div class="icon icon-players"></div>
		<div class="info">
			<a href="/players"><h2>Players</h2></a>
			<p>
				Create players and add them in fixture to track their performance. 
				Use the formation builder to place them exactly where you want on the pitch.
			</p>
		</div>
	</div>
</div>

<div class="clear"></div>
