<div ng-controller="PlayerCtrl" class="club">
	<div class="box details">
		<a href="{{detailsHref}}"><h2>Details</h2></a>
		<a class="inline right" href="/#{{baseHref}}/edit">Edit</a>
		<div class="boxinner">
			<div><img ng-src="{{player.image}}"/></div>
			<div>{{player.firstName}}</div>
			<div>{{player.lastName}}</div>
			<div>{{player.position}}</div>
			<div>{{player.height}}</div>
			<div>{{player.weight}}</div>
			<div>{{player.dob}}</div>
		</div>
	</div>
	
	<div class="box lrg">
		<h2>General Stats</h2>
			<table class="stats">
				<tbody>
					<tr class="odd">
						<td>Games: </td>
						<td class="td-padding">{{genStats.games}}</td>
					</tr>
					<tr class="even">
						<td>Mins: </td>
						<td class="td-padding">{{genStats.mins}}</td>
					</tr>
					<tr class="odd">
						<td>Goals: </td>
						<td class="td-padding">{{genStats.goals}}</td>
					</tr>
					<tr class="even">
						<td>Assists: </td>
						<td class="td-padding">{{genStats.assists}}</td>
					</tr>
					<tr class="odd">
						<td>Own Goals: </td>
						<td class="td-padding">{{genStats.og}}</td>
					</tr>
					<tr class="even">
						<td>Successful passes: </td>
						<td class="td-padding">{{genStats.passsuccess}}</td>
					</tr>
					<tr class="odd">
						<td>Missed passes: </td>
						<td class="td-padding">{{genStats.passmissed}}</td>
					</tr>
					<tr class="even">
						<td>Shots on target: </td>
						<td class="td-padding">{{genStats.shotstarget}}</td>
					</tr>
					<tr class="odd">
						<td>Shots off target: </td>
						<td class="td-padding">{{genStats.shotswide}}</td>
					</tr>
					<tr class="even">
						<td>Tackles won: </td>
						<td class="td-padding">{{genStats.tackleswon}}</td>
					</tr>
					<tr class="odd">
						<td>Tackles lost: </td>
						<td class="td-padding">{{genStats.tackleslost}}</td>
					</tr>
					<tr class="even">
						<td>Yellow cards: </td>
						<td class="td-padding">{{genStats.yc}}</td>
					</tr>
					<tr class="odd">
						<td>Red cards: </td>
						<td class="td-padding">{{genStats.rc}}</td>
					</tr>
				</tbody>
			</table>
			
	</div>
		
	<div class="box exlrg">
		<h2>Stats</h2>
		<div class="">
			<h2></h2>
			<div class="">
				<div id="areaspline" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
			</div>
		</div>
	</div>
</div>
