<div class="welcome">
	<h1>Welcome to CoachStat</h1>
	<p>CoachStat aims to help coaches track all the statistics about their teams, from players stats to games stats and also club stats. 
		Try out the drag 'n' drop formation builder to quickly look at how you want to set up your team. Please use the <a href="/#/contactus">contact us</a> page to provide any feedback you may have.</p>
</div>
<br />
<br />
<div class="boxes">
	<div class="box">
		<div class="icon icon-team"></div>
		<div class="info">
			<h2>Clubs</h2>
			<p>
				Create multiple clubs to manage your players and fixtures. You can even create oppsoition clubs if you would like to track your rivals.
			</p>
		</div>
	</div>
	<div class="box">
		<div class="icon icon-players"></div>
		<div class="info">
			<h2>Players</h2>
			<p>
				Create players and add them in fixture to track their performance. 
				Use the formation builder to place them exactly where you want on the pitch.
			</p>
		</div>
	</div><div class="box right">
		<div class="icon icon-stats"></div>
		<div class="info">
			<h2>Stats</h2>
			<p>
				Once you have have created your club and added players, add fixtures to quickly help you get monitoring how your team and players are performing.
			</p>
		</div>
	</div>
</div>

<div class="clear"></div>