<div class="admin-wrapper">
	<h1>Analyser</h1>
	<form id="form1" method="post" action="/">
	<div class="boxes">
		<div class="box">
			<h3>Player 1</h3>
			<select id="player1id" name="player1id">
				<% players_array = @players.map { |player| [player.id, player.id] } %>
				<%= options_for_select(players_array) %>
			</select>
		</div>
		<div class="box">
			<h3>Player 2</h3>
			<select id="player2id" name="player2id">
				<% players_array = @players.map { |player| [player.id, player.id] } %>
				<%= options_for_select(players_array) %>
			</select>
		</div>
	</div>
	<div>
		<p>
			<button id="btnpass" onclick="fnPassing()">Passing</button>
		</p>
		<p>
			<button id="btnshot" onclick="fnShooting()">Shooting</button>
		</p>
		<p>
			<button id="btntackle" onclick="fnTackling()">Tackling</button>
		</p>
	</div>
	</form>
</div>

<script type="text/javascript">
	function fnPassing() {
		$("#form1").attr("action", "/analyser/passing");
	}
	function fnShooting() {
		$("#form1").attr("action", "/analyser/shooting");
	}
	function fnTackling() {
		$("#form1").attr("action", "/analyser/tackling");
	}
</script>
